footer {
  /* background-image: linear-gradient(120deg, var(--success) 10%, var(--bg)); */
  margin: 0 auto;
  max-width: 800px;
  padding: 0.3rem 1.2rem;
  border: 1px solid var(--border-muted);
  border-radius: 6px 6px 0 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  border-bottom: none;
}

.social i {
  color: var(--info);
  font-size: 21px;
  font-weight: 600;
}
