.accordion-body p {
  text-align: left;
}
.accordion-body {
  padding: 0.9rem;
  display: none;
}

.accordion {
  background-color: var(--bg);
  border-radius: 6px;
  border: 1px solid var(--border-card);
  box-shadow: var(--shadow);
  width: 100%;
  transition: transfrom 1s ease;
}

.accordion-title {
  padding: 0.3rem 0.9rem;
  border-radius: 6px 6px 0 0;
  background-color: var(--bg-light);
  border-top: 1px solid var(--highlight);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9rem;
  cursor: pointer;
}

.accordion-title span:last-of-type {
  /* transform: translateY(3px); */
  transform-origin: center;
  transition: all 0.3s ease;
}
