/* Main section */

main {
  max-width: 1180px;
  margin: 1.8rem auto 3rem;
  padding: 0 1rem;
  min-height: calc(100vh - 100px - 37px - 16px - 32px);
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow-x: scroll;
  border-radius: 10px;
  min-height: 0;
  border: 1px solid var(--border-card);
  box-shadow: var(--shadow);
  background-color: var(--bg);
  margin: 0;
}

.table-wrapper table tbody tr {
  cursor: pointer;
  transition: all 0.3s ease;
}

.table-wrapper table tbody tr:hover {
  background-color: color-mix(in srgb, var(--highlight) 52%, transparent);
}

.table-wrapper img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.buttons-wrapper{
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  flex-direction: row;
   margin: 0.9rem auto 0;
   flex-wrap: wrap;
}

@media screen and (min-width: 820px) {
  .table-wrapper {
    overflow: hidden;
  }
}
