.table-widget button {
  background-color: transparent;
  color: var(--text);
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 7px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  justify-content: space-between;
}

custom-table-widget h1 {
  font-size: 1.1rem;
  font-weight: 800;
  margin: 0 0 0.75rem;
}

.table-widget button:active {
  transform: none;
}
.table-widget button:hover {
  background-color: var(--bg-light);
  /* color: var(--text); */
  transition: background-color 300ms ease;
}

.table-widget button.active {
  background-color: var(--primary);

  /* color: var(--bg-dark); */
}

.table-widget button.active,
.table-widget button.active i {
  color: var(--bg-dark);
}

.table-widget {
  display: inline-flex;
  gap: 0.25rem;
  padding: 0.25rem;
  border: 1px solid var(--border-muted);
  border-radius: 9px;
  background-color: var(--bg-light);
}

.table-widget i {
  color: var(--text-muted);
}

@media screen and (min-width: 600px) {
  .table-widget button {
    width: auto;
  }
}
